.divTodoCard{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.emoji{
    display: flex;
    margin-top: 13px;
}

.titleTodo {
    display: flex;
    font-size: 20px;
    font-family: 'Bruno Ace', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color:black;
    font-weight: bold;
    text-align: start;
    margin-left: 10px;
    margin-right: 10px;
}