.divNav{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 98px;
    margin-left: 44px;
    margin-top: 33px;
    margin-right: 20px;

    background: rgba(0, 0, 0, 0.45);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link1{
    color: white;
    text-decoration: none;
}

.buttonPlusContainerRight {
    display: flex;
    flex-direction: row;
    /* text-decoration: none; */
    justify-content: right;
    margin-top: -38px;
    margin-left: 7px;
    width: 100px;
    transition: 0.1s;
}

.homeIcon{
    margin-top: 12px;
    width: 189px;
    height: 57px;
    margin-left: 5px;

    font-family: 'Bruno Ace', sans-serif;
    font-style: normal;
    font-size: 38px;
    line-height: 38px;

    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.856);
}

.buttonPlusContainerRight:hover {
    transform: scale(1.03);
}

#words {
    display: flex;
    height: 85%;
    margin-right: 10px;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.divButtonRight{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-top: 20px;
}

#buttonPlus{
    display: flex;
    width: 80%;
}

.divH2 {
    display: flex;
}

.iconList {
    display: flex;
    margin-top: 25px;
    margin-right: 14px;
}

#todoListIcon{
    height: 70%;
}